.aside-menu {
  position: fixed;
  right: 0;
  top: 84px;
  padding: 35px 0;
  height: 100%;
  background: #010103;
  transition: .5s;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  width: 0;

  &.active {
    width: 200px;
    padding: 35px;
  }

  & > ul {
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      font-weight: 500;
      color: #fff;
      text-transform: uppercase;
      font-size: 14px;

      &:not(:last-of-type){
        margin-bottom: 10px;
      }

      a {
        transition: .5s;
        position: relative;
        cursor: pointer;

        &:before {
          content: '';
          transition: .5s;
          width: 0%;
          position: absolute;
          left: 0;
          bottom: 0;
          background: #fff;
          height: 1px;
        }

        &.active:before,
        &:hover:before {

          width: 100%;
        }
      }
    }
  }
}