/* --------------------------------------------------------------------------
 * >>> Global Content Containers:
 * -------------------------------------------------------------------------- */

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  @include xl-up {
    max-width: 1400px;
  }
}

.container-fluid {
  max-width: 100%;
  padding: 15px;
}